:host {
  height: 90%;
  background-color: firebrick;
  display: flex;
}

nz-card {
  margin: 50px;
}

.search-card {
  height: 220px;
}

img {
  max-height: 228px;
}

h2 {
  margin-bottom: -5px;
}

.summary {
  margin-bottom: 2px;
}
